/*———————————— import ————————————*/
@import "../../less/init.less";
@import "../../less/bootstrap/variables.less";

/*———————————— common ————————————*/
.tit{font-size:20px !important;pb 15px  ;}
@media screen and (max-width:@screen-sm) {
	.layui-form-inline{mb 10px  ;}
}


.personal-inner{p 0  ;mb 15px  ;}
.head .headTop .form-inline{pl 20px  ;}
/*———————————— 右边内容 ————————————*/
.personal-info-wrap{
	&{h 100%  ;oa;zi 1  ;mih 400px  ;}
	h2 a{c #999  ;}
	h2 .active{c;}
	.personal-info{
		&{pr;}
		.safe-grass span{db;p 0  ;}
		.progress{mb 0  ;}
		.grass{padding-left:10px !important;}
		.quike{c #999  ;}
		.quike a{m 0 10px  ;dib;}
		.qiandao{pl 30px  ;par 30px  ;ml 10px  ;tc;}
		.qiandao:hover{c;tdn;}	
	}
	.cw-info{
		&{mt 20px  ;}
		h2 a{c;ml 30px  ;}
		h2 .blue-btn{ml 10px  ;}
		.cw-info-inner{mt 20px  ;mb 20px  ;}
		.row>div i{fl;m 0 15px 0 30px  ;}
		.row>div span{f 22px  ;fb;}
		.ky{bg url(images/ico/ky.png) no-repeat  ;dib;w 64px  ;h 55px  ;}
		.ye{bg url(images/ico/ye.png) no-repeat  ;dib;w 64px  ;h 64px  ;}
		.dj{bg url(images/ico/dj.png) no-repeat  ;dib;w 46px  ;h 55px  ;}
		table td{
			&{padding-top:15px !important;padding-bottom:15px !important;}
			.red-btn2,.gray-btn,.orange-btn{p 5px 30px  ;f 16px  ;}
		}
	}
}
@media screen and (max-width:@screen-sm) {
	.personal-info-wrap{margin-bottom:20px !important;}
	blockquote .layui-btn+.layui-btn{margin-left:0 !important;}
	blockquote>a{margin-bottom:5px !important;}
	.cw-info{mt 15px  ;}
	.cw-info .wap-box{margin-top:50px !important;}
	.cw-info-inner{
		&{margin-bottom:0 !important;padding-right:0 !important;}
		&>div{height:90px !important;tc;}
		&>div i{margin:0 15px !important;float:none !important;}
		&>div i.ky{margin-bottom:9px !important;}
		&>div i.dj{margin-top:30px !important;}
		&>div span{font-size:18px !important;}
	}
	.qiandao{padding:5px 10px !important;}
}


/*———————————— 我的域名 ————————————*/
@media screen and (max-width:@screen-sm) {
	.mydomain>div{clear:both;}
}

/*———————————— 会员中心 ————————————*/
.sidebar{float:left;}
.layui-icon{margin-right:10px;font-size:16px !important;}
.contant{width:100%;float:left;background:#fff;}
.contant .title{margin-bottom: 20px;    border-bottom:1px solid #F5F5F5;font-size:20px;color:#333;padding-bottom:13px;}
.contant .title.m0{margin-bottom: 0;}
.contant .wode .layui-form-item{width:48%;clear:none;float:left;}
.contant .wode .layui-btn{display:block;width:200px;margin:0 auto;clear:both;}
.contant .box{padding:0 0 50px 0;}
.contant .box h2{cursor:pointer;color:#333;font-size:20px; line-height: 48px;}
.contant .box h2 span{margin-left:20px;color:#666;font-size:14px;}
.contant .box h2 span.s1{color:red;}
.contant .geren{padding:0;}
.contant .geren h2{padding:15px 0;font-size:15px;color:#333;border-bottom:1px solid #F5F5F5;}
.contant .geren h2 i{font-size:16px !important;}
.contant .geren h2 span{width:70px;display:inline-block;color:#000;}
.contant .geren h2 a{float:right;margin-right:10px;color:#666;font-size:12px;}
.contant .geren h2 a.a1{color:#0C3;}

.openbox{padding:20px 40px;display:none;}
.openbox .layui-btn{padding:0 50px;}
@media screen and (max-width:@screen-sm) {
	.contant .geren h2 span{width:60px;}
}