/*———————————— import ————————————*/
/*Core variables and mixins*/

@import "../../less/bootstrap/variables.less";
@import "../../less/bootstrap/mixins.less";

 /* Reset and dependencies */
/* @import "../../less/bootstrap/normalize.less"; */
/* @import "../../less/bootstrap/glyphicons.less"; */
/* @import "../../less/bootstrap/print.less";
 */

 /* Core CSS  */
@import "../../less/bootstrap/scaffolding.less";
@import "../../less/bootstrap/type.less";
/* @import "../../less/bootstrap/code.less"; */
@import "../../less/bootstrap/grid.less";
/* @import "../../less/bootstrap/tables.less"; */
@import "../../less/bootstrap/forms.less";
@import "../../less/bootstrap/buttons.less";

 /* Components  */
@import "../../less/bootstrap/component-animations.less";
@import "../../less/bootstrap/dropdowns.less";
@import "../../less/bootstrap/navs.less";
@import "../../less/bootstrap/navbar.less";
@import "../../less/bootstrap/breadcrumbs.less";
/* @import "../../less/bootstrap/button-groups.less";
@import "../../less/bootstrap/input-groups.less";
@import "../../less/bootstrap/pagination.less";
@import "../../less/bootstrap/pager.less";
@import "../../less/bootstrap/labels.less";
@import "../../less/bootstrap/badges.less";
@import "../../less/bootstrap/jumbotron.less";
@import "../../less/bootstrap/thumbnails.less"; 
@import "../../less/bootstrap/alerts.less"; */
@import "../../less/bootstrap/progress-bars.less";
/* @import "../../less/bootstrap/list-group.less"; */
/* @import "../../less/bootstrap/media.less";
@import "../../less/bootstrap/panels.less";
@import "../../less/bootstrap/responsive-embed.less";
@import "../../less/bootstrap/wells.less"; */
@import "../../less/bootstrap/close.less";

 /* Components w/ JavaScript  */
@import "../../less/bootstrap/modals.less";
@import "../../less/bootstrap/tooltip.less";
@import "../../less/bootstrap/popovers.less";
/* @import "../../less/bootstrap/carousel.less"; */

 /* Utility classes  */
@import "../../less/bootstrap/responsive-utilities.less";

@import "../../less/init.less";
/*———————————— common ————————————*/
*{.p(0);.m(0);}
a:hover,a:visited,a:active{.tdn();}
ul li{list-style:none;}
html,body{overflow-x:hidden;width:100%;padding:0 !important;.miw(360px);}
body{.f(16px);}
/* chrome帐户密码自动填充样式 */
input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 1000px white inset;
 -webkit-text-fill-color: #333;
}

@media screen and (max-width:@screen-sm) {
	body{.bg(#f4f4f4);}
	.wrap{.p(0);}
	.wrap>section,.wtmrc>div{.bg(#fff);.p(16px);.mt(16px);}
	.row{.m(0);}
	.tit{margin-top:0 !important;}
}

/* 覆盖 */
.navbar-static-top{.zi(2);}
.mSlider-inner{background-color:#393D49 !important;}
.layui-table td,.layui-table th{font-size:16px !important;}

@media screen and (max-width:@screen-sm) {
	.layui-table td,.layui-table th{font-size:14px !important;}
}

.none{display:none !important;}
.show{display:block !important;}
.bd-none{border:none !important;}
.th-bg{.bg(url(images/th-bg.jpg) no-repeat center);.c();text-align:center;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" "; clear:both;height:0;}

@media screen and (max-width:@screen-sm) {
	/*显示滚动条*/
	::-webkit-scrollbar {
	  -webkit-appearance:none;
	}
	::-webkit-scrollbar:vertical {
	  width:12px;
	}
	::-webkit-scrollbar:horizontal {
	  height:12px;
	}
	::-webkit-scrollbar-thumb {
	  background-color:rgba(0, 0, 0, .5);
	  border-radius:10px;
	  border:2px solid #ffffff;
	}
	::-webkit-scrollbar-track {
	  border-radius:10px;
	  background-color:#ffffff;
	}
	
	.navbar{
		.navbar-collapse{padding:0 !important;}
		.navbar-nav{margin:0 !important;}
	}
	

	.wap-box{.w(100%);overflow:scroll;}
	.layui-table td,.layui-table th{padding:padding:8px 16px !important;}
	/* 宽度 */
	.w150{width:150% !important;}
	.w200{width:200% !important;}
	.w250{width:250% !important;}
	.w300{width:300% !important;}
	.w350{width:350% !important;}
	.w400{width:400% !important;}

	/* 成交额&&成交量 */
	.cj-data>span{.db();}
	.cj-data>span span{margin-left:10px !important;.mr(10px);}
}

/* 字体 */
.fb{.fb();}
.fn{.fn();}
.f12{font-size:12px !important;}
.f13{font-size:13px !important;}
.f14{font-size:14px !important;}
.f16{font-size:16px !important;}
.f18{font-size:18px !important;}
.f20{font-size:18px !important;}
.f22{font-size:22px !important;}
.f24{font-size:24px !important;}
.f26{font-size:26px !important;}
.f28{font-size:28px !important;}
.f30{font-size:30px !important;}
.f32{font-size:32px !important;}
.f34{font-size:34px !important;}

/* 布局 */
.fr{.fr();}.fl{.fl();}
.tc{text-align:center !important;}
.tl{text-align:left !important;}
.tr{text-align:right !important;}

.bs-b{.bs(0 1px 2px rgba(0,0,0,0.2));.mb(2px);}

/* 间距 */
.m0{margin:0px !important;}
.m5{margin:5px !important;}
.m10{margin:10px !important;}
.m15{margin:15px !important;}
.m20{margin:20px !important;}
.m25{margin:25px !important;}
.m30{margin:30px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr30{margin-right:30px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}

.p0{padding:0px !important;}
.p5{padding:5px !important;}
.p10{padding:10px !important;}
.p15{padding:15px !important;}
.p20{padding:20px !important;}
.p25{padding:25px !important;}
.p30{padding:30px !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;}
.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr25{padding-right:25px !important;}
.pr30{padding-right:30px !important;}
.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}


/* 颜色 */
.white{color:#fff !important;}
.green{color:@mgreen !important;}
.green2{color:@mgreen2 !important;}
.green3{color:#22b14c !important;}
.blue{.c(@mblue);}
.red{color:#db0000 !important;}
.red2{color:@mred2 !important;}
.red3{.c(#ed1c24);}
.gray{.c(#494949);}
.orange{.c(@morange);}
.orange2{.c(@morange2);}
.orange3{.c(#ff4800);}
.gray0{.c(#000);}
.gray1{.c(#bec2c5);}
.gray2{.c(#3e4150);}
.gray3{.c(#717171);}
/* 按钮 */
.space-btn{.f14();.p(5px 10px);.c(@mc);.brs(3px);.bd(@mc 1px solid);.dib();}
.blue-btn,.hover-btn em:hover{.f14();.p(5px 10px);.brs(3px);.f();.bg(@mc);color:#fff !important;.pr();cursor:pointer;}
.blue-btn:hover{.bg(@mblue2);}
.gray-btn{.f14();.p(5px 10px);.brs(3px);.bd(@mgrayd 1px solid);.f();.bg(@mgrayd);.c();.pr();}
.red-btn2{.f14();.p(5px 10px);.brs(3px);.f();.bg(@mred);.c();.pr();}
.orange-btn{.f14();.p(5px 10px);.brs(3px);.f();.bg(@morange);.c();.pr();}
.red-btn{.bg(@mc2);.c();.dib();.p(5px 0);.brs(10px);.pr();.w(260px);}
.red-btn:hover{.bg(@mred2);}
.green-btn{.bg(@mgreen);.c();.dib();.p(5px 0);.brs(10px);.dib();.pr();.w(260px);}
.green-btn:hover{.bg(@mgreen2);}
.orange-btn2{.bg(@morange);.c();.dib();.p(5px 0);.brs(10px);.dib();.pr();.w(260px);}
.orange-btn2:hover{.bg(@morange2);}

.blue-btn{.f14();.p(5px 10px);.brs(3px);.f();.bg(@mc);color:#fff !important;.pr();}

.hover-btn em{.dib();.f14();.p(5px 10px);.brs(3px);.f();.bd(@mblue 1px solid);.pr();cursor:pointer;.fn();.ml(10px);.fsn();}

.blue-btn .sanjiao{.db();.pa();.w(8px);.h(8px);.bg(@mc);.rotate(45deg);.r(0);.t(50%);.mt(-4px);.mr(-4px);.brs(1px);}
.orange-btn .sanjiao{.db();.pa();.w(8px);.h(8px);.bg(@morange);.rotate(45deg);.r(0);.t(50%);.mt(-4px);.mr(-4px);.brs(1px);}
.gray-btn .sanjiao{.db();.pa();.w(8px);.h(8px);.bg(@mgrayd);.rotate(45deg);.r(0);.t(50%);.mt(-4px);.mr(-4px);.brs(1px);}
.red-btn2 .sanjiao{.db();.pa();.w(8px);.h(8px);.bg(@mc2);.rotate(45deg);.r(0);.t(50%);.mt(-4px);.mr(-4px);.brs(1px);}
.green-btn .sanjiao{.db();.pa();.w(8px);.h(8px);.bg(@mgreen);.rotate(45deg);.r(0);.t(50%);.mt(-4px);.mr(-4px);.brs(1px);}

/* 小图标 */
.cp{.w(22px);.h(10px);.dib();.bg(url(images/ico/cp.png) no-repeat);}
.ss{.w(24px);.h(22px);.dib();.bg(url(images/ico/ss.png) no-repeat);}
.xj{.w(25px);.h(23px);.dib();.bg(url(images/ico/xj.png) no-repeat);}
.w{.w(18px);.h(19px);.dib();.bg(url(images/ico/w.png) no-repeat);.pr();.t(5px);.mr(3px);}
.zt{.w(20px);.h(20px);.dib();.bg(url(images/ico/zt.png) no-repeat);.pr();.t(5px);.mr(3px);}
.px{.w(10px);.h(14px);.dib();.bg(url(images/ico/px.png) no-repeat);}


/*标题*/
.tit{font-size:22px !important;.bb(1px solid @mgrayd);.p(10px 0);.mb(10px);.c(@mblue);.mt(10px);}
.tit a:hover{.tdn();}
.tit span{.db();.f14();.c();.hlh(30px);.bg(@mred);.brs(3px);.pr();.t(-3px);.p(0 10px);.transition(.2s);}
.tit a:hover span{.bg(@mred2);}
.tit .more{.pr();.t(8px);}

.ad img{.w(100%);}

.wrap{.bs(0 0 5px #999);.mt(20px);.mb(20px);}

.more{.tc();.dib();.c(@mc2);.f();}

.wrap{.pb(5px);}

@media screen and (max-width:@screen-sm) {
	.wrap{.bs(0 0 0 #999);.m(0);}
}


/*———————————— header ————————————*/
.head{
	input{.h(24px);}
	.btn-sm{.h(24px);.lh(12px);.bg(@mc);.c();}
	.top{
		&{height:35px;line-height:35px;background:#F9F9F9;border-bottom:1px solid #ddd;text-align:right;}
		a{
			&{line-height:34px;font-size:12px;color:#333;border-left:1px solid #DDDDDD;padding:0 10px;}
			&:hover{color:#2789ED;}
			&:first-child{border-left:0;}
		}
	}

	.headTop{
		.container{.pr();}
		.popover{.pa();.db();.r(42px);.t(38px);.l(906px);}
	}
	.headbottom{.bg(#fff);}

}
#menu{
	.container{padding:0 !important;}
	ul.nav{.w(100%);.flex();}
	ul.nav li{.tc();.flex1();}
}

@media screen and (max-width:@screen-sm){.head{
    	&{.mt(50px);}
    	.form-group{.w(25%);.fl();.pr();.t(14px);.l(5px);}
    	.headTop{
    		&{.pf();.l(0);.t(0);.zi(3);.bg(#fff);.w(100%);-webkit-transform: translateZ(0);transform: translateZ(0);}
    		.popover{left:42px !important;top:56px !important;}
    		.password{.ml(5px);}
    	}
    	.top a{padding:0 7px !important;}
    }
    .logo img{.m(0 auto);.w(98%);}
    .headTop{.bs(0 0 2px #ccc);padding:0 !important;height:50px !important;line-height:50px !important;}
    #menu{
	.container{padding:0 10px !important;}
	ul.nav{.w(100%);display:inline-block !important;}
	ul.nav li{text-align:left !important;}
}
}

.navbar-inverse{
  background-color:@mc;}

.navbar-nav{
	&>li{.transition(.3s);}
	&>li>a{color:#fff !important;.f16();}
	li.on,li:hover{.bg(#0e477b);}
}
.navbar-inverse{.bb(none);}


.navbar{.mb(0);}
/*———————————— footer ————————————*/
.footer{
	background-color:#1f1f1f;
	font-size:17px
}
.footer.footer-light{
	background-color:#fafafa
}
.footer.footer-light hr{
	border-color:#d9d9d9
}
.vertical-menu .footer{
	margin-left:260px
}
.vertical-menu .header.vhidden+.wrapper+.footer{
	margin-left:60px
}
.met-footnav{
	&{padding:25px 0 10px 0px;background:#222;.oh();}
	h4{font-size:16px;margin-top:0px;text-shadow:none;}
	h4 a{color:#ddd;margin-bottom:4px;display:inline-block;text-decoration:none;}
	h4 a:hover{color:#fff;}
	h4 a:active,h4 a:focus,h4 a:hover{text-decoration:none;}
	ul{padding:0px;margin-bottom:0px;list-style:none;}
	ul li{.mt(8px);}
	ul li a{color:#aaa;text-decoration:none;}
	ul li a:active,ul li a:focus,ul li a:hover{text-decoration:none;}
	ul li a:hover{color:#fff;}
	.info{
		b{font-size:16px;line-height:1.2;font-weight:normal;color:#ddd;}
		em{display:block;font-size:28px;font-style:normal;}
		em a{color:#eee;.transition(0.5s);}
		em a:hover{color:#fff;}
		p{color:#aaa;border-top:1px solid #333;padding:10px 0;}
		i{font-size:16px;color:#999;width:35px;height:35px;border:1px solid #555;text-align:center;line-height:33px;cursor:pointer;border-radius:3px;transition:.3s;}
		i:hover{color:#fff;border-color:#fff;}
		span{display:block;}
		span:after{display:block;content:'';clear:both;}
		span a{float:left;margin-right:12px;}
		a:hover,a:focus{text-decoration:none;}
	}
	.info-phone{
		span{.c(#aaa);}
	}
}

.met-links{
	&{background:#282828;color:#ddd;.oh();}
	a{color:#ddd;}
	a:hover{color:#fff;}
	ol{margin-bottom:0px;}
	.breadcrumb>li+li:before{color:#ddd;}
	li{white-space:nowrap;}
	li img{height:40px;}
}
footer{
	&{height:auto;background:#222;color:#aaa;line-height:1.8;}
    .container{border-top:1px solid #282828;margin-top:-1px;.p(10px 0);}
}
.breadcrumb{background:#282828;}


/*———————————— 个人中心左边栏 ————————————*/
.personal-inner{.bg(url(images/nav-left-bg.jpg) repeat-y);}
#show-menu{.pf();.l(8px);.t(14px);.c(#000 );.zi(3);.dn();.f(24px);}
.nav-left{
	&{.p(0);.h(100%);.zi(2);.transition(.3s);.oa();}
	h2{.bg(#187de3);.c();.hlh(50px);.m(0);.f(18px);.fb();.pl(10px);}
	h4{.bg(#393d49);.m(0);}
	h4 a{.pl(10px);.hlh(44px);.db();.c();.f(16px);}
	h4 a:hover{.tdn();}
	i{.mr(10px);}
	ul li a{.hlh(44px);.db();.pl(20px);.c();.f(16px);}
 	.layui-nav-tree{.w(100%);margin-right:0px !important;.oh();}
/*	.layui-nav-child{.transition(.3s);.oh();.h(0);display:block !important;}
	.show{.h(100px);} */
	
	.grzx{.bg(url(images/ico/grzx.png));.dib();.w(16px);.h(16px);.pr();.t(2px);}
	.ymgl{.bg(url(images/ico/ymgl.png));.dib();.w(15px);.h(15px);}
	.wdym{.bg(url(images/ico/wdym.png));.dib();.w(17px);.h(16px);}
	.ymzr{.bg(url(images/ico/ymzr.png));.dib();.w(17px);.h(21px);}
	.ymzc{.bg(url(images/ico/ymzc.png));.dib();.w(15px);.h(19px);}
	.push{.bg(url(images/ico/push.png));.dib();.w(19px);.h(15px);}
	.wsmj{.bg(url(images/ico/wsmj.png));.dib();.w(15px);.h(16px);}
	.wtmc{.bg(url(images/ico/wtmc.png));.dib();.w(17px);.h(17px);}
	.wdwt{.bg(url(images/ico/wdwt.png));.dib();.w(18px);.h(18px);}
	.fbcs{.bg(url(images/ico/fbcs.png));.dib();.w(16px);.h(18px);}
	.wdcs{.bg(url(images/ico/wdcs.png));.dib();.w(17px);.h(17px);}
	.wsmj2{.bg(url(images/ico/push.png));.dib();.w(16px);.h(17px);}
	.wtmr{.bg(url(images/ico/wtmr.png));.dib();.w(17px);.h(17px);}
	.wdwt{.bg(url(images/ico/wdwt.png));.dib();.w(18px);.h(18px);}
	.wdcj{.bg(url(images/ico/wdcj.png));.dib();.w(18px);.h(18px);}
	.wddb{.bg(url(images/ico/wddb.png));.dib();.w(16px);.h(16px);}
	.cwgl{.bg(url(images/ico/cwgl.png));.dib();.w(15px);.h(15px);}
	.cwzx{.bg(url(images/ico/cwzx.png));.dib();.w(18px);.h(18px);}
	.zxcz{.bg(url(images/ico/zxcz.png));.dib();.w(17px);.h(17px);}
	.djmx{.bg(url(images/ico/djmx.png));.dib();.w(15px);.h(15px);}
	.cwjl{.bg(url(images/ico/cwjl.png));.dib();.w(15px);.h(15px);}
	.txgl{.bg(url(images/ico/txgl.png));.dib();.w(16px);.h(16px);}
	.jfgl{.bg(url(images/ico/jfgl.png));.dib();.w(17px);.h(17px);}
	.yfgl{.bg(url(images/ico/yfgl.png));.dib();.w(15px);.h(17px);}
	.rzzx{.bg(url(images/ico/rzzx.png));.dib();.w(16px);.h(18px);}
	.szzx{.bg(url(images/ico/szzx.png));.dib();.w(16px);.h(16px);}
	.grzl{.bg(url(images/ico/grzl.png));.dib();.w(18px);.h(16px);}
	.zndx{.bg(url(images/ico/zndx.png));.dib();.w(16px);.h(15px);}
	.czjl{.bg(url(images/ico/czjl.png));.dib();.w(14px);.h(16px);}
}
@media screen and (max-width:@screen-lg){
	.personal-inner{.bg(url(images/nav-left-bg-md.jpg) repeat-y);}
}
@media screen and (max-width:@screen-md) {
	.personal-inner{.bg(url(images/nav-left-bg-sm.jpg) repeat-y);}
}
@media screen and (max-width:@screen-sm){
	.personal-inner{height:auto !important;.bg(none);}
    .nav-left{.dn();}
    .show-left{.l(0);.bg(#282b34);}
    #show-menu{display:block !important;}
}

/* 返回顶部
#goToTop{.pf();.t(auto);.b(260px);.l(50%);.ml(600px);.c(@mblue);.transition(.1s);.dn();}
#goToTop:hover{.c(@mblue2);}
@media screen and (max-width:@screen-sm) {
	#goToTop{.pf();.b(16px);.l(auto);.r(8px);}
}
 */
/*返回*/
#totop{.dn();}
.icon {
    display: inline-block;
    background: url(images/icon-bg.png) no-repeat;
}
.icon-cust-ser {
    width: 39px;
    height: 32px;
    background-position: -460px -19px;
}

.icon-weixin {
    width: 140px;
    height: 153px;
    background-position: -569px -10px;
}
.icon-retur1 {
    background-position: -239px -143px;
}

.icon-retur2 {
    background-position: -279px -143px;
}

.icon-retur3 {
    background-position: -363px -143px;
}

.icon-retur4 {
    background-position: -403px -140px;
}

.icon-retur-down {
    background-position: -510px -142px;
}
.return{position:fixed;
    bottom:38%;
    right:1%;
    width:46px;
    height:190px;
    z-index:3;}

.return .return-share{width:100%;
    margin-bottom:1px;}

.relative{position:relative;
    top:0;
    left:0;}

.return-share a.sweep:hover{background-position:-321px -143px;}

.return-share a.cust:hover{background-position:-441px -143px;}

.return-share a.shared:hover{background-position:-476px -143px;}

.return-share a.icon-retur-up:hover{background-position:-549px -173px;}

.return-share a.icon-retur-downed:hover{background-position:-593px -174px;}

.return-share a.sweep:hover, .return-share a.cust:hover, .return-share a.shared:hover, .icon-retur:hover {
    border:1 px solid #259cf0;
    background-color:#259cf0;}

.icon-retur{display:block;
    width:45px;
    height:45px;
    border:1px solid #cecece;
    background-color:#fff;}

.return-share a.workorder{text-align:center;}

.return-share a.workorder:hover{color:#ffffff;}

.return-share-triangle{width:12px;
    height:40px;
    position:absolute;
    right:53px;
    bottom:-12px;
    z-index:100;}

.border-sj, .con-sj{display:block;
    width:18px;
    height:28px;
    font-size:18px;
    overflow:hidden;
    font-family:SimSun;}

.border-sj{color:#ccc;
    font-style:normal;}

.con-sj{color:white;
    margin:-14px -2px 0 0;
    margin:-28px 0 0 -2px;}

.return-share .return-share-layer{z-index:99;
    position:absolute;
    _position:absolute;
    top:49px;
    right:47px;}

.return-share .return-share-layer .contant{position:absolute;
    _position:absolute;
    top:-47px;
    right:9px;
    width:98px;
    height:176px;
    background-color:#fff;
    border-radius:1px;
    -moz-box-shadow:-2px 2px 2px #cecece, 2px -2px 2px #cecece;
    -webkit-box-shadow:-2px 2px 2px #cecece, 2px -2px 2px #cecece;
    box-shadow:-2px 2px 2px #cecece, 2px -2px 2px #cecece; /* For IE 8 */
}

.return-share .return-share-layer .contant .contant-pad{padding:10px;
    position:absolute;
    width:78px;
    height:156px;}

.return-share .return-share-layer .contant .contant-pad span{margin-bottom:8px;
    width:78px;
    height:53px;
    text-align:center;
    display:block;}

.return-share .return-share-layer .contant .contant-pad .het{height:30px;}

.return-share .return-share-layer .pic{position:absolute;
    _position:absolute;
    top:-47px;
    right:9px;
    width:150px;
    text-align:center;
    padding-bottom:5px;
    background-color:#fff;
    border-radius:1px;
    -moz-box-shadow:-2px 2px 2px #cecece, 2px -2px 2px #cecece;
    -webkit-box-shadow:-2px 2px 2px #cecece, 2px -2px 2px #cecece;
    box-shadow:-2px 2px 2px #cecece, 2px -2px 2px #cecece;
 
}

.return-share .return-share-layer .top_pic{position:absolute;
    _position:absolute;
    top:-220px;
    left:-55px;
    width:150px;
    text-align:center;
    padding-bottom:5px;
    background-color:#fff;
    border-radius:1px;
    -moz-box-shadow:-2px 2px 2px #cecece, 2px -2px 2px #cecece;
    -webkit-box-shadow:-2px 2px 2px #cecece, 2px -2px 2px #cecece;
    box-shadow:-2px 2px 2px #cecece, 2px -2px 2px #cecece;

}

.return-share .return-share-layer .share{position:absolute;
    _position:absolute;
    top:-47px;
    right:9px;
    width:200px;
    text-align:center;
    background-color:#fff;
    border-radius:1px;
    -moz-box-shadow:-2px 2px 2px #cecece, 2px -2px 2px #cecece;
    -webkit-box-shadow:-2px 2px 2px #cecece, 2px -2px 2px #cecece;

}

.return-share .return-share-layer .share .bdsharebuttonbox a.bds_more{margin-right:10px;}

.return-share .return-share-layer .share .bdsharebuttonbox a{width:46%;
    height:24px;
    line-height:14px;
    text-align:left;
    padding-left:20px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;}

.return-share .return-share-layer .share{padding:0;}

.return-share .return-share-layer .share .bdsharebuttonbox{width:160px;
    margin:15px 20px 5px;}

.return-share-layer .share .wrap{padding-right:33px;
    padding-bottom:6px;}

.return-share-layer .share .marg{margin-right:0px;
    margin-left:17px;}