<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <link rel="icon" href="/favicon.ico">
    <title>Document</title>
    <%- include('./static/top.html') %>
	<link rel="stylesheet" type="text/css" href="style/personal.css">
</head>

<body>
<%- include('./common/head.html') %>
<%- include('./personal/outDomain.html') %>
<script data-main='js/page/personal' src="https://cdn.bootcss.com/require.js/2.3.5/require.min.js"></script>
<script>window.require || document.write('<script data-main="js/page/personal" src="js/libs/require.min.js"><\/script>')</script>
<script src='js/config.js'></script>
</body>

</html>